.app {
  display: flex;
  font-family: Arial, sans-serif;
}

/* MAIN SECTION */
.main-section {
  margin-left: 250px; /* EXACT sidebar width */
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* PAGE CONTENT */
.page-content {
  padding: 25px;
  background: #f9fafb;
  min-height: calc(100vh - 60px);
}

/* THEMES */
.app.light {
  --bg: #f8f9fa;
  --text: #000;
}

.app.dark {
  --bg: #121212;
  --text: #fff;
}